<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio 2022</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>

</head>
<body class="home__body">
    <header class="home__body__header">
         <a href="#"><h3>freelance portfolio</h3></a>
        <button>
            menu <i class="fa-solid fa-bars"></i>
        </button>
        <nav class="home__body__header__nav">
            <ul>
                <li>
                    <a href="#portfolio">portfolio</a>
                    <hr>
                </li>
                <li>
                    <a href="#about">about</a>
                    <hr>
                </li>
                <li>
                    <a href="#contact">contact</a>
                    <hr>
                </li>
            </ul>
        </nav>
     
    </header>
    <main class="home__body__main">
        <section class="home__body__main__section">
            <figure>
                <img src="/img/profile.png" alt="">
            </figure>
            <h1>freelance <span>portfolio</span></h1>
            <div class="home__body__main__section--icon">
                <hr class="home__body__main__section--icon-hr1">
                <h4><i class="fa-solid fa-star"></i></h4>
                <hr class="home__body__main__section--icon-hr2">
            </div>
            </div>
                <p>Web Developer - Graphic Artist - User Experience Designer</p>
        </section>
        <section class="home__body__main__section2">
            <h2>portfolio</h2>
            <div class="home__body__main__section2--icon">
                <hr class="home__body__main__section2--icon-hr1">
                <h4><i class="fa-solid fa-star"></i></h4>
                <hr class="home__body__main__section2--icon-hr2">
            </div>
            <div class="home__body__main__div">
                <div class="home__body__main__div__box">
                    <figure>
                        <img src="/img/cabin.png" alt="">
                    </figure>
                    <figure>
                        <img src="/img/cake.png" alt="">
                    </figure>
                    <figure>
                        <img src="/img/circus.png" alt="">
                    </figure>
                </div>
                <div class="home__body__main__div__box">
                    <figure>
                        <img src="/img/game.png" alt="">
                    </figure>
                    <figure>
                        <img src="/img/safe.png" alt="">
                    </figure>
                    <figure>
                        <img src="/img/submarine.png" alt="">
                    </figure>
                </div>
            </div>
         
        </section>
        <section class="home__body__main__section3">
            <h2>about</h2>
            <div class="home__body__main__section3--icon">
                <hr class="home__body__main__section3--icon-hr1">
                <h4><i class="fa-solid fa-star"></i></h4>
                <hr class="home__body__main__section3--icon-hr2">
            </div>
            <article>
                <p>Freelance is a free landing page theme created for free use. The download includes the complete source files including HTML, CSS, and JavaScript as weel as optional SASS stylesheets for easy customization</p>
                <p>Whether you're a student looking to showcase your work, a professional looking to attact clients, or a graphic artist looking to share your projects, this template is the perferct starting point!</p>
            </article>
           <a href="">Download Now!<i class="">
        </section>
        <section class="home__body__main__section4">
            <h2>contact me</h2>
            <div class="home__body__main__section4--icon">
                <hr class="home__body__main__section4--icon-hr1">
                <h4><i class="fa-solid fa-star"></i></h4>
                <hr class="home__body__main__section4--icon-hr2">
            </div>
            <form action="">
                <div class="home__body__main__form">
                    <label for="name">Name</label>
                    <input class="" type="text" id="name" name="name">
                </div>
                <div class="home__body__main__form">
                    <label for="">Email Address</label>
                    <input class="">
                </div>
                <div class="home__body__main__form">
                    <label for="">Phone Number</label>
                    <input class="">
                </div>
                <!--
                    <div class="home__body__main__form">
                    <label for="">Message</label>
                    <textarea class="home__body__main__form--message">
                </div>
                -->
                <div class="home__body__main__form__div">
                    <div class="home__body__main__form__div__send">
                        <button>Send</button>
                    </div>      
                </div>
            </form>
        </section>
    </main>
    <footer class="home__body__footer">
        <section class="home__body__footer__section">
            <article class="home__body__footer__section__article__locate">
                <h3>location</h3>
                <p>2215 Jhon Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </article>
            <article class="home__body__footer__section__article__links">
                <h3>around the web</h3>
                <div class="">
                    <a href=""><i class="">
                    <a href=""><i class="">
                    <a href=""><i class="">
                    <a href=""><i class="">
                    <a href=""><i class="">
                </div>
            </article>
            <article class="home__body__footer__section__article__free">
                <h3>about freelancer</h3>
                <p>Freelance is free and open souce landing page theme created to <span>your free personal use</span>.</p>
            </article>
        </section>
        <section class="home__body__footer__section__copy">
            <p >Copyright<i class="fa fa-copyright"></i> Your Website 2023</p>
        </section>
       
    </footer>
    <script src="/js/home.js"></script>
</body>
</html>